<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar medicamentos form</title>
</head>
<body>
    <!-- Para buscar y listar los medicamentos desde la DB -->
    {% extends "base.html" %}

    {% block title %}Medicamentos | Meditrack{% endblock %}

    {% block content %}
        <h1>Medicamentos</h1>
        <p>Consulta aqui el listado de medicamentos.</p>
    {% endblock %}
</body>
</html>